<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="desktop_app_mark_1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <desktop_app_mark_1.My.MySettings>
            <setting name="Setting" serializeAs="String">
                <value>Server=tcp:dbba.database.windows.net,1433;Initial Catalog=demodb;Persist Security Info=False;User ID=kalyan@dbba;Password=Aa1111111111;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
            <setting name="connString" serializeAs="String">
                <value>Server=tcp:dbba.database.windows.net,1433;Initial Catalog=demodb;Persist Security Info=False;User ID=kalyan@dbba;Password=Aa1111111111;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
        </desktop_app_mark_1.My.MySettings>
    </userSettings>
</configuration>
